@import '../../../assets/variables.scss';

footer {
  min-height: 20% auto;
  background-color: $dark-bg-color;
  border-top: 4px solid rgb(69, 198, 248);
  padding: 30px;
  text-align: center;
  color: #ffffff;
}
// links
ul {
  grid-area: left-content;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  li {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid rgb(69, 198, 248);
    transition: 0.5s;
    a {
      display: block;
      padding: 10px;
      text-decoration: none;
      font-size: 0.9em;
      transition: 0.5s;
      color: rgb(255, 255, 255);
    }
    a:hover {
      color: rgb(69, 198, 248);
      transition: 0.5s;
    }
  }
  li:hover {
    background-color: rgb(70, 70, 70);
    transition: 0.5s;
  }
  li:first-child {
    border-top: 1px solid rgb(69, 198, 248);
  }
}
// social
#footer-social {
  display: block;
  font-size: 3em;
  a i {
    padding: 0px 10px 0px 10px;
    color: rgb(255, 255, 255);
    transition: 0.5s;
  }
  a i:hover {
    color: rgb(69, 198, 248);
    transition: 0.5s;
  }
}
// contact
.contact-details {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid rgb(69, 198, 248);
  transition: 0.5s;
  i {
    padding: 10px;
    text-decoration: none;
    font-size: 1.5em;
  }
  span {
    font-size: 0.9em;
    vertical-align: super;
  }
}
.contact-details:hover {
  background-color: rgb(70, 70, 70);
  color: rgb(69, 198, 248);
  transition: 0.5s;
}
.phone {
  border-top: 1px solid rgb(69, 198, 248);
}

.email {
  word-wrap: break-word;
}

@media only screen and (max-width: 575px) {
  #footer-links,
  #footer-social,
  #footer-contact {
    padding-bottom: 20px;
  }
}
