<footer class="container-fluid">
  <div class="row">
    <div id="footer-links" class="col-sm">
      <h3>Links</h3>
      <ul>
        <li>
          <a
            routerLink="/"
            target="_top"
            class="nav-link"
            routerLinkActive="active"
            >Home</a
          >
        </li>
        <li>
          <a
            routerLink="about"
            target="_top"
            class="nav-link"
            routerLinkActive="active"
            >About</a
          >
        </li>
        <li>
          <a
            routerLink="services"
            target="_top"
            class="nav-link"
            routerLinkActive="active"
            >Services</a
          >
        </li>
        <li>
          <a
            routerLink="contact-us"
            target="_top"
            class="nav-link"
            routerLinkActive="active"
            >Contact us</a
          >
        </li>
      </ul>
    </div>
    <div class="col-sm align-center">
      <h3>Social</h3>
      <div id="footer-social">
        <a href="https://twitter.com/and_maritime"
          ><i class="fab fa-twitter-square"></i
        ></a>
        <a
          href="https://www.facebook.com/Maritime-Shipping-and-Logistics-Limited-105135390870813"
          ><i class="fab fa-facebook-square"></i
        ></a>
        <a href="https://www.instagram.com/maritimeshippingandlogistics66/"
          ><i class="fab fa-instagram"></i
        ></a>
      </div>
    </div>
    <div class="col-sm align-center">
      <h3>Get in touch</h3>
      <div id="footer-contact">
        <div class="contact-details phone">
          <i class="fas fa-phone-square-alt"></i>
          <span>{{ content.phone }}</span>
        </div>
        <div class="contact-details email">
          <i class="fas fa-envelope"></i>
          <span>{{ content.email }}</span>
        </div>
        <div class="contact-details">
          <i class="fas fa-map-marker-alt"></i>
          <span>{{ content.address.lineOne }}, </span>
          <span>{{ content.address.lineTwo }}, </span>
          <span>{{ content.address.lineThree }}, </span>
          <span>{{ content.address.postcode }}</span>
        </div>
      </div>
    </div>
  </div>
</footer>
