@import '../../../assets/variables.scss';

main {
  padding: 20px 0px 60px 0px;
  h1 {
    padding: 20px 0px 20px 0px;
    font-size: 3em;
    text-align: center;
  }
  img {
    max-width: 300px;
  }
  .section-container {
    margin: 20px 20px 20px 20px;
    border: 1px solid rgb(99, 99, 99);
    border-radius: 4px;
    transition: 1s;
    section {
      padding: 20px 0px 20px 0px;
      text-align: center;
      span a {
        font-size: 8em;
        color: #000000;
        transition: 1s;
      }
    }
  }
  .section-container:hover {
    background-color: $dark-bg-color;
    transition: 1s;
    section h3 {
      color: #ffffff;
      transition: 1s;
    }
    section span a {
      color: $accent;
      transition: 1s;
    }
  }
}
