<main>
  <img
    src="../../../assets/img/ship-logo.png"
    class="rounded img-responsive mx-auto d-block"
    alt="logo"
  />
  <h1>{{ content.subtitle }}</h1>
  <div class="row">
    <div class="col-sm section-container">
      <section>
        <span
          ><a routerLink="about" target="_top"><i class="fas fa-ship"></i></a
        ></span>
        <h3>About us</h3>
      </section>
    </div>
    <div class="col-sm section-container">
      <section>
        <span
          ><a routerLink="services" target="_top"
            ><i class="fas fa-warehouse"></i></a
        ></span>
        <h3>Services</h3>
      </section>
    </div>
    <div class="col-sm section-container">
      <section>
        <span
          ><a routerLink="contact-us" target="_top"
            ><i class="fas fa-mail-bulk"></i></a
        ></span>
        <h3>Contact us</h3>
      </section>
    </div>
  </div>
</main>
