main {
  padding: 20px 0px 0px 0px;
}
h1 {
  padding-left: 40px;
}
section {
  padding: 20px 80px 60px 80px;
}
.contact-details {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
i {
  padding: 10px;
  text-decoration: none;
  font-size: 3.5em;
}
span {
  margin-left: 30px;
  font-size: 2.5em;
  vertical-align: super;
}
p {
  margin-left: 92px;
  font-size: 2.5em;
  vertical-align: super;
}
.email {
  word-wrap: break-word;
}
@media only screen and (max-width: 768px) {
  .contact-details {
    font-size: 10px;
  }
  h1 {
    padding-left: 20px;
  }
  section {
    padding: 30px 20px 30px 20px;
  }
  i {
    font-size: 2.5em;
  }
  span {
    margin-left: 20px;
    font-size: 1.5em;
  }
  p {
    margin-left: 59px;
    font-size: 1.5em;
  }
}
