<app-header></app-header>
<main>
  <h1>{{ content.title }}</h1>
  <section>
    <div class="col-sm">
      <div class="contact-details phone">
        <i class="fas fa-phone-square-alt"></i>
        <span>{{ content.phone }}</span>
      </div>
      <div class="contact-details email">
        <i class="fas fa-envelope"></i>
        <span>{{ content.email }}</span>
      </div>
      <div class="contact-details">
        <i class="fas fa-map-marker-alt"></i>
        <span>{{ content.address.lineOne }}</span>
        <p>{{ content.address.lineTwo }}</p>
        <p>{{ content.address.lineThree }}</p>
        <p>{{ content.address.postcode }}</p>
      </div>
    </div>
  </section>
</main>
