@import '../../../assets/variables.scss';

nav {
  background-color: $light-bg-color;
  border-bottom: 4px solid $accent;
  padding-right: 10px;
  #social {
    display: block;
    font-size: 32px;
    a i {
      padding: 10px 5px 0px 5px;
      color: rgb(255, 255, 255);
      transition: 0.5s;
    }
    a i:hover {
      color: $accent;
      transition: 0.5s;
    }
  }
  ul {
    li {
      a {
        transition: 0.5s;
        color: rgb(255, 255, 255);
      }
      a:hover {
        color: $accent;
        transition: 0.5s;
      }
    }
  }
  .menu-icon {
    transition: 0.5s;
    color: rgb(255, 255, 255);
  }
  .menu-icon:hover {
    color: $accent;
    transition: 0.5s;
  }
}

.social-align-sm {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 991px) {
  ul {
    text-align: center;
  }
}
