<nav class="navbar navbar-expand-lg">
  <button
    class="navbar-toggler order-first"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span><i class="fas fa-bars menu-icon"></i></span>
  </button>
  <div id="social" class="order-last">
    <a href="https://twitter.com/and_maritime"
      ><i class="fab fa-twitter-square"></i
    ></a>
    <a
      href="https://www.facebook.com/Maritime-Shipping-and-Logistics-Limited-105135390870813"
      ><i class="fab fa-facebook-square"></i
    ></a>
    <a href="https://www.instagram.com/maritimeshippingandlogistics66/"
      ><i class="fab fa-instagram"></i
    ></a>
  </div>
  <div class="collapse navbar-collapse order-first" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          routerLink="/"
          class="nav-link"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="about" class="nav-link" routerLinkActive="active"
          >About</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="services" class="nav-link" routerLinkActive="active"
          >Services</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="contact-us" class="nav-link" routerLinkActive="active"
          >Contact us</a
        >
      </li>
    </ul>
  </div>
</nav>
