main {
  padding: 20px 0px 0px 0px;
}
h1 {
  padding-left: 40px;
}
section {
  padding: 20px 80px 60px 80px;
}
@media only screen and (max-width: 768px) {
  h1 {
    padding-left: 20px;
  }
  section {
    padding: 30px 20px 30px 20px;
  }
}
