<app-header></app-header>
<main class="nob">
  <h1>{{ content.title }}</h1>
  <div class="row top-margin">
    <div class="col-xl section-container section-shade">
      <section>
        <h3>Sea freight</h3>
        <p *ngFor="let paragraph of content.sea">
          {{ paragraph }}
        </p>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-xl section-container">
      <section>
        <h3>Road freight</h3>
        <p *ngFor="let paragraph of content.road">
          {{ paragraph }}
        </p>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-xl section-container section-shade">
      <section>
        <h3>Warehousing</h3>
        <p *ngFor="let paragraph of content.warehouse">
          {{ paragraph }}
        </p>
      </section>
    </div>
  </div>
</main>
