main {
  padding: 20px 0px 0px 0px;
}
h1 {
  padding-left: 40px;
}
.top-margin {
  margin-top: 20px;
}
.section-container {
  min-height: 150px;
}
.section-shade {
  background-color: #f7f7f7;
}
section {
  padding: 60px 0px 60px 80px;
}
@media only screen and (max-width: 768px) {
  h1 {
    padding-left: 20px;
  }
  section {
    padding: 30px 20px 30px 20px;
  }
}
